*{
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: homa;
  box-sizing: border-box;
}
body{
  background-color: #F3F2F8;
}
.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.card{
  width: 80px;
  border-radius: 35px;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: all 1s ease;
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}
.card .row{
  color: white;
  display: flex;
  flex-wrap: nowrap;
}
.card .row .num{
  background: #282C34;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.card .row .description{
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  transform: translateY(80px);
  transition: all 1s ease;
}
.description p{
  color: #b0b0ba;
  padding-top: 5px;
}
input{
  display: none;
}
input:checked + label{
  width: 700px;
}
input:checked + label .description{
  transform: translateY(0) !important;
}
.card[for="c1"]{
  background-image: linear-gradient(#fff0 0%,#fff0 60%,#1d1d1d 100%),url('./img1.jpg');
}
.card[for="c2"]{
  background-image: linear-gradient(#fff0 0%,#fff0 60%,#1d1d1d 100%),url('./img2.jpg');
}
.card[for="c3"]{
  background-image: linear-gradient(#fff0 0%,#fff0 60%,#1d1d1d 100%),url('./img3.jpg');
}
.card[for="c4"]{
  background-image: linear-gradient(#fff0 0%,#fff0 60%,#1d1d1d 100%),url('./img4.jpg');
}
